@define-color foreground #dcd7ba;
@define-color background #1f1f28;
@define-color color6 #93a482;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0;
  font-size: 96%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 1px;
  color: @color1;
}

window#waybar {
  background: transparent;
  border-radius: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background: none;
}

.modules-left, .modules-center, .modules-right {
	background: @background; 
  border: 1.2px solid @color6;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
	border-radius: 10px;

} 

.modules-left, .modules-right {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
} 

.modules-right {
  padding-left: 12px;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#cpu,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-cycle_wall,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-swaync,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
}

#idle_inhibitor {
  color: @color2;
}

#bluetooth {
  color: @color1;
  padding-right: 9px;
}

#battery {
  color: @cursor;
  padding-left: 0;
}

@keyframes blink {
  to {
    color: @color5;
  }
}

#battery.critical:not(.charging) {
  background-color: @color5;
  color: rgba(255,255,255,0.8);
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: inset 0 -3px transparent;
}

#clock {
  color: @cursor;
}

#cpu {
  color: @color1;
  padding-right: 0;
}

#custom-keyboard,
#memory {
  color: @color1;
}

#disk {
  color: @color1;
}

#temperature {
  color: @color1;
}

#temperature.critical {
  background-color: @color5;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#tray {
  padding-left: 12px;
  padding-right: 0px;
}

#keyboard-state {
  color: @color1;
}

#taskbar button.active {
  padding-left: 8px;
  padding-right: 8px;
}

#taskbar button:hover {
    padding-left: 2px;
    padding-right: 2px;
}

#custom-cava_mviz {
	color: @color1;
}

#custom-menu {
  color: @color1;
}

#custom-power {
  color: @color1;
}

#custom-updater {
  color: @color1;
}

#custom-light_dark {
  color: @color1;
}

#custom-weather {
  color: @color1;
  opacity: 0.5;
}

#custom-lock {
  color: @color1;
}

#pulseaudio {
  color: @color1;
  padding-right: 6px;
}

#pulseaudio.bluetooth {
  color: @color1;
}
#pulseaudio.muted {
  color: @color8;
}

#window {
  color: @color1;
}

#custom-waybar-mpris {
  color:@color1;
}

#network {
  color: @cursor;
  padding-right: 12px;
  padding-left: 6px;
}

#network.disconnected,
#network.disabled {
  background-color: @color5;
  color: @text;
}
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
}

#workspaces button {
  all: initial;
  padding: 0 4px;
  margin: 0 2px;
  min-width: 6px;
}

#workspaces button.empty {
  opacity: 0.5;
}

.tray-group-item {
    margin: 0 5px;
    transition: all 0.3s ease;
}
